<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorkoutApplicationDBEntities" 
         connectionString="metadata=res://*/WorkoutModel.csdl|res://*/WorkoutModel.ssdl|res://*/WorkoutModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;
         data source=INCNU4289XKC;
         initial catalog=WorkoutApplicationDB;
         integrated security=True;
         MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>