<table class="table">

  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
  </tr>
  <tr *ngFor="let cat of categorys">
    <td>{{cat.category_id}}</td>
    <td>{{cat.category_name}}</td>
    <td>
      <a [routerLink]="['/category-edit',cat.category_id]" class="btn btn-secondary ml-3">Edit   </a>
      <a [routerLink]="['/category-delete',cat.category_id]" class="btn btn-danger ml-3">Delete</a>
      
    </td>
  </tr>
</table>
<div class="form-group col-md-12">
  
    <a [routerLink]="['/category-add']" class="btn btn-primary ml-3">
    Add Category
    </a>
  
  
</div>
