<div class="container">
  <div class="row">
    <div class="col-12-md">
      <h5>EDIT WORKOUT </h5>
      <label class="label label-default">Title</label>
      <textarea class="form-control" rows="1" cols="10"></textarea>
      <br />
      <label class="label label-default">Note</label>
      <textarea class="form-control" rows="5" cols="30"></textarea>
      <br />





      <br />
      <div class="form-group">
        <label>Category</label>
        <select>
          <option *ngFor="let catgs of categories">{{catgs.category_name}}</option>

        </select>
        <button type="submit" class="btn btn-primary">ok</button>
      </div>


      <br />
      <button type="submit" class="btn btn-success btn-lg">Update</button>
      

    </div>
  </div>
</div>
