<div class="container">
  <div class="row">
    <div class="col-12-md">
      <h5>START WORKOUT</h5>
      <label class="label label-default">Title</label>
      <textarea class="form-control" rows="1" cols="10"></textarea>
      <br />
      <label class="label label-default">Note</label>
      <textarea class="form-control" rows="5" cols="30"></textarea>
      <br />


      <br />
      <div class="form-group">
        <label class="label label-default">Start Date</label>

        <input type="text" class="form-control" name="startdate" placeholder="YYYY/MM/DD" />
        <br />
        <label class="label label-default">Start Time</label>
        <input type="text" class="form-control" name="starttime" placeholder="HH:mm" />
        <br />

      </div>


      <br />
      <button type="submit" class="btn btn-success btn-lg">Start</button>
      <a [routerLink]="['/track-workout']" class="btn btn-danger btn-lg">
        Cancel
      </a>
      
    </div>
  </div>
</div>
